* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html, body {
  height: 100%;
} */

body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, .7);
}

.profile {
  text-align: center;
  margin-top: 20px;
}

.avatar {
  width: 150px;
  border-radius: 50px;
  border: 3px solid white;
  box-shadow: 0 0 20px white;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 2px;
}

h2 {
  font-size: 16px;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
}

.social img {
  width: 40px;
  margin: 15px;
}

.containerBox {
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 200px;
  padding: 15px 20px;
  max-width: 450px;
  background: rgb(204, 192, 192);
  border-radius: 50px;
  font-weight: bold;
  border: 1px solid rgb(123, 123, 155);
  box-shadow: 0 0 20px rgb(161, 151, 151);
}

.boxImg {
  width: 80%;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
}

a {
  text-decoration: none ;
  color: black;
}

.footer {
  display: flex;
  list-style: none;
  margin-bottom: 0;
}

.footer a {
  text-align: center;
  max-width: 300px;
  margin: 100px auto 0;
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 0 0 20px white;
}

.containerWorks {
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.boxWorks {
  text-align: center;
  margin: 10px;
  width: 200px;
  padding: 15px 20px;
  max-width: 600px;
  background: rgb(204, 192, 192);
  border-radius: 50px;
  font-weight: bold;
  border: 1px solid rgb(123, 123, 155);
  box-shadow: 0 0 20px rgb(161, 151, 151);
}

.imgWorks {
  width: 80%;
  border-radius: 50px;
  border: 2px solid white;
  box-shadow: 0 0 20px white;
}

.spanTitle {
  color: black;
  font-weight: 800;
}

.numbers {
  color: blue;
}

span{
  color: rgb(170, 74, 74);
}

.agende {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  justify-content: center;
}

.agende a {
  text-align: center;
  max-width: 300px;
  margin: 100px auto;
  background: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  box-shadow: 0 0 20px white;
}

.agende img {
  width: 10px;
  
}